.button {
    padding: -spacing;
    border: none;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;

    &.primary {
        background-color: -color;
        color: white;
    }

    &.secondary {
        background-color: -color;
        color: white;
    }
}
