// Color palette
-color: #3498db; // blue
-color: #2ecc71; // green
-color: #e74c3c; // red

// Typography
-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
-stack-secondary: 'Comic Sans MS', cursive, sans-serif;

// Spacing
-spacing: 8px;
